<!-- Info on this project can be found on my codepen. -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>typeWriter</title>


    <link rel="stylesheet" href="../standards/teiResa.css">   <!-- my personal site's stylesheet -->
    <link rel="stylesheet" href="typeWriter.css">             <!-- this project's stylesheet -->

    <script type="text/javascript" src="typeWriter.js">  </script>
  </head>
  <body>



    <h1>
      <a href="" class="typeWriter"
       data-type='[
       "We all have to start somewhere.",
       "teiResa",
       "Theresa Balsdon" ]'
       data-period="2000">
        <span class="strip"><!-- this is where the strings get printed. --></span>
      </a>
    </h1>



  </body>
</html>
